.shadow-examples
    h3 Shadow
    .box-shadow-box.box-shadow-box_1
    .box-shadow-box.box-shadow-box_2
    .box-shadow-box.box-shadow-box_3
    .box-shadow-box.box-shadow-box_4
    .box-shadow-box.box-shadow-box_5
    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <!-- The number determines the depth of the shadow.-->
        |   <div class="box-shadow-box box-shadow-box_1"></div>
        |   <div class="box-shadow-box box-shadow-box_2"></div>
        |   <div class="box-shadow-box box-shadow-box_3"></div>
        |   <div class="box-shadow-box box-shadow-box_3"></div>
        |   <div class="box-shadow-box box-shadow-box_3"></div>