.buttons-examples
  h2 Flat buttons

  button.tk-button Button
    .rippleJS
  button.tk-button.tk-button_colored Colored
    .rippleJS
  button.tk-button.tk-button_disabled(disabled) Disable

  h3.usage-title Here`s the usage:
  xmp(class="prettyprint lang-html")
      |   <button class="tk-button">Button</button>
      |   <button class="tk-button tk-button_colored">Colored</button>
      |   <button class="tk-button tk-button_disabled" disabled="disabled">Disable</button>