a(name="floating-buttons" class="anchor")
.floating-buttons-examples
    h2 Floating Action Button
    .floating-buttons-wrap
        p Regular
        button.tk-floating-button.bg-rose
            i(class="fas fa-bars")
        button.tk-floating-button.bg-blue
            i(class="fas fa-arrow-left")
        button.tk-floating-button 
            i(class="fas fa-arrow-right")
    .floating-buttons-wrap
        p Mini
        button.tk-floating-button.tk-floating-button_mini.bg-green
            i(class="fas fa-bars")
        button.tk-floating-button.tk-floating-button_mini.bg-violet 
            i(class="fas fa-arrow-left")
        button.tk-floating-button.tk-floating-button_mini
            i(class="fas fa-arrow-right")

    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <!-- Regular Buttons -->
        |   <button class="tk-floating-button bg-rose"><i class="fas fa-bars"></i></button>
        |   <button class="tk-floating-button bg-blue"><i class="fas fa-arrow-left"></i></button>
        |   <button class="tk-floating-button"> <i class="fas fa-arrow-right"></i></button>
        |
        |   <!-- Mini Buttons -->
        |   <button class="tk-floating-button tk-floating-button_mini bg-green"><i class="fas fa-bars"></i></button>
        |   <button class="tk-floating-button tk-floating-button_mini bg-violet"> <i class="fas fa-arrow-left"></i></button>
        |   <button class="tk-floating-button tk-floating-button_mini"><i class="fas fa-arrow-right"></i></button>