.icon-buttons-examples
    h2 Icon Buttons
    .icon-buttons-wrap
        p icon buttons
        button.tk-icon-button 
            i(class="fas fa-bars")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-arrow-left")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-arrow-right")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-check")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-times")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-expand")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-compress")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-ellipsis-v")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-redo")
            .rippleJS

    .icon-buttons-wrap
        p styled
        button.tk-icon-button.black
            i(class="fas fa-heart")
            .rippleJS
        button.tk-icon-button.rose 
            i(class="fas fa-heart")
            .rippleJS
        button.tk-icon-button 
            i(class="fas fa-heart")
            .rippleJS
    
    .icon-buttons-wrap
        p segmented
        button.tk-icon-button.tk-icon-button_segmented
            i(class="fas fa-walking")
            .rippleJS
        button.tk-icon-button.tk-icon-button_segmented
            i(class="fas fa-bicycle")
            .rippleJS
        button.tk-icon-button.tk-icon-button_segmented
            i(class="fas fa-bus-alt")
            .rippleJS
        button.tk-icon-button.tk-icon-button_segmented
            i(class="fas fa-car")
            .rippleJS

    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <!-- Icon Buttons -->
        |   <button class="tk-icon-button"> <i class="fas fa-bars"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-arrow-left"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-arrow-right"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-check"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-times"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-expand"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-compress"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-ellipsis-v"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-redo"></i></button>
        |
        |   <!-- Styled -->
        |   <button class="tk-icon-button black"><i class="fas fa-heart"></i></button>
        |   <button class="tk-icon-button rose"> <i class="fas fa-heart"></i></button>
        |   <button class="tk-icon-button"> <i class="fas fa-heart"></i></button>
        |   
        |   <!-- Segmented -->
        |   <button class="tk-icon-button tk-icon-button_segmented"><i class="fas fa-walking"></i></button>
        |   <button class="tk-icon-button tk-icon-button_segmented"><i class="fas fa-bicycle"></i></button>
        |   <button class="tk-icon-button tk-icon-button_segmented"><i class="fas fa-bus-alt"></i></button>
        |   <button class="tk-icon-button tk-icon-button_segmented"><i class="fas fa-car"></i></button>