.buttons-examples
    h2 Raised buttons

    button.tk-raised-button Button
    button.tk-raised-button.tk-raised-button_colored Colored
        .rippleJS
    button.tk-raised-button.tk-raised-button_disabled(disabled) Disable

    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <button class="tk-raised-button">Button</button>
        |   <button class="tk-raised-button tk-raised-button_colored">Colored</button>
        |   <button class="tk-raised-button tk-raised-button_disabled" disabled="disabled">Disable</button>