.toolbars-examples
    a(name="toolbars" class="anchor")
    h2 Toolbars

    //-regular
    .toolbar.toolbar_color_1
        button.toolbar__item.tk-icon-button.white
            i.fas.fa-bars
        span.toolbar__item.label.white
            | Toolbar
        button.toolbar__item.tk-icon-button.white
            i.fas.fa-redo
        button.toolbar__item.tk-icon-button.white
            i.fas.fa-ellipsis-v

    //-tall
    .toolbar.toolbar_color_2.toolbar_tall
        button.toolbar__item.toolbar__item_top.tk-icon-button.white
            i.fas.fa-bars
        span.toolbar__item.toolbar__item_top.label.white
            | Toolbar: tall
        button.toolbar__item.toolbar__item_top.tk-icon-button.white
            i.fas.fa-redo
        button.toolbar__item.toolbar__item_top.tk-icon-button.white
            i.fas.fa-ellipsis-v

    //-tall, label and button bottom
    .toolbar.toolbar_color_3.toolbar_tall
        button.toolbar__item.toolbar__item_bottom.tk-icon-button.white
            i.fas.fa-bars
        span.toolbar__item.toolbar__item_bottom.label.white
            | Toolbar: tall with items aligned to the bottom
        button.toolbar__item.toolbar__item_bottom.tk-icon-button.white
            i.fas.fa-redo
        button.toolbar__item.toolbar__item_bottom.tk-icon-button.white
            i.fas.fa-ellipsis-v

    //-medium, label and buttons top
    .toolbar.toolbar_color_4.toolbar_medium
        button.toolbar__item.toolbar__item_top.tk-icon-button.white
            i.fas.fa-bars
        span.toolbar__item.toolbar__item_bottom.label.white
            | Toolbar: medium-tall with labels aligned to the bottom
        button.toolbar__item.toolbar__item_top.tk-icon-button.white
            i.fas.fa-redo
        button.toolbar__item.toolbar__item_top.tk-icon-button.white
            i.fas.fa-ellipsis-v

    //-tall, label middel and button bottom
    .toolbar.toolbar_color_5.toolbar_tall
        button.toolbar__item.toolbar__item_bottom.tk-icon-button.white
            i.fas.fa-bars
        span.toolbar__item.label.white
            | Toolbar: tall with labels aligned to the middle <br>
            | Toolbar items aligned to the bottom
        button.toolbar__item.toolbar__item_bottom.tk-icon-button.white
            i.fas.fa-redo
        button.toolbar__item.toolbar__item_bottom.tk-icon-button.white
            i.fas.fa-ellipsis-v

    h3.usage-title Here`s the usage:
        xmp(class="prettyprint lang-html")
            | <!-- Toolbar: tall with items aligned to the top -->
            | <div class="toolbar toolbar_color toolbar_tall">
            |   <div class ="toolbar__item toolbar__item_top button">
            |   <div class ="toolbar__item toolbar__item_top label">
            |   <div class ="toolbar__item toolbar__item_top button">
            |   <div class ="toolbar__item toolbar__item_top button">
            | </div>
