a(name="menu-dropdown" class="anchor")
.menu-dropdown-examples
    h2 Menu whith dropdown
    .menu-wrap
        p Menu
        nav.tk-menu
            ul.tk-menu__list
                li.tk-menu__item.have-children
                    .tk-item__content
                        .tk-icon-box 
                            i(class="far fa-clock")
                        p.tk-item__title Recent Articles
                    ul.tk-menu__inner(style="display: none")
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content

                li.tk-menu__item.have-children
                    .tk-item__content
                        .tk-icon-box 
                            i(class="fas fa-archive")
                        p.tk-menu__item-title Arcives
                    ul.tk-menu__inner(style="display: none")
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content
                li.tk-menu__item.have-children
                    .tk-item__content
                        .tk-icon-box 
                            i(class="fas fa-check") 
                        p.tk-menu__item-title Completed
                    ul.tk-menu__inner(style="display: none")
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content
                        li.tk-menu__inner-item
                            .tk-item__content
                                p.tk-menu__item-title Content

    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <nav class="tk-menu">
        |        <ul class="tk-menu__list">
        |            <li class="tk-menu__item have-children">
        |                <div class="tk-item__content">
        |                    <div class="tk-icon-box">
        |                        <i class="far fa-clock"></i>
        |                    </div>
        |                    <p class="tk-item__title">Recent Articles</p>
        |                </div>
        |                <ul class="tk-menu__inner" style="display: none">
        |                    <li class="tk-menu__inner-item">
        |                        <div class="tk-item__content">
        |                            <p class="tk-menu__item-title">Content</p>
        |                        </div>
        |                    </li>
        |                    <li class="tk-menu__inner-item">
        |                        <div class="tk-item__content">
        |                            <p class="tk-menu__item-title">Content</p>
        |                        </div>
        |                    </li>
        |                    <li class="tk-menu__inner-item">
        |                       <div class="tk-item__content">
        |                           <p class="tk-menu__item-title">Content</p>
        |                       </div>
        |                   </li>
        |               </ul>
        |           </li>
        |       <!-- ........... -->
        |       </ul>
        |    </nav>