.menu-dropdown-examples
    h2 Loaders
    .loaders-wrap
        p Linear
            .tk-progress-linear__items
                .tk-linear
                .tk-linear
                .tk-linear
                .tk-linear
                .tk-linear.tk-linear_pink
                .tk-linear.tk-linear_pink

    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <div class="tk-linear"></div>
        |   <div class="tk-linear tk-linear_pink"></div>
    .tk-divider
    .loaders-wrap
        p Circular
            .tk-progress-circular__items
                .tk-circular_very-small
                .tk-circular_small
                .tk-circular_medium
                .tk-circular_large
                .tk-circular_extra-large

    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <div class="tk-circular_very-small"></div>
        |   <div class="tk-circular_small"></div>    
        |   <div class="tk-circular_medium"></div>
        |   <div class="tk-circular_large"></div>
        |   <div class="tk-circular_extra-large"></div>
