.tk-dialog {
    @include box-shadow(2);
    background-color: #fff;

    position: fixed;
    height: 430px;
    width: 430px;
    top: calc(50% - 215px);
    left: calc(50% - 215px);
    z-index: 1001;

    display: none;
    flex-flow: column;

    &_show {
        display: flex !important;
    }

    &__title {
        margin: 20px 25px;
        font-family: $bold-font;
        font-size: 32px;
        line-height: 1.2;
        color: black;
    }

    &__description {
        flex: 1 1 auto;
        font-family: $default-font;
        font-size: 16px;
        line-height: 1.2;
        color: black;
        opacity: 0.85;

        margin: 0 24px;
        overflow-y: scroll;

        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: $secondary;
        }
        
        &::-webkit-scrollbar{
            width: 6px;
            background-color: transparent;
        }
    }

    &__footer {
        flex: 0 0 auto;
        display: flex;
        margin: 10px 24px;
    }
}
