.tk-floating-button {
    position: relative;
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: transparent;
    line-height: 1;
    border: 0;
    font-size: 20px;
    outline: 0;
    cursor: pointer;
    color: white;
    transition: .5s;
    @include box-shadow(1);

    &_rose {
        background: #e91e63;
    }
    &_blue {
        background: #03a9f4;
    }
    &:hover {
    @include box-shadow(2);
    }
    &_mini {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}
