.tk-floating-button {
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background: transparent;
    line-height: 1;
    border: 0;
    font-size: 20px;
    outline: 0;
    cursor: pointer;
    color: white;
    transition: .5s;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    &_rose {
        background: #e91e63;
    }
    &_blue {
        background: #03a9f4;
    }
    &:hover {
        box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.26), 0 2px 10px 0 rgba(0, 0, 0, 0.16);
    }
    &_mini {
        width: 40px;
        height: 40px;
        font-size: 16px;
    }
}
