nav.sidebar
    .sidebar__logo
        a.logo(href="javascript:void(0);")
            img.img-responsive(src="img/dark-logo.png", alt="logo")
    ul.sidebar-menu
        li.have-children
            a.sidebar-menu__item(href='javascript:void(0);')
                span.sidebar-menu__item-inner Buttons
            ul
                li
                    a.sidebar-menu__item(href="#flat-buttons") Flat Buttons
                li
                    a.sidebar-menu__item(href="#raised-buttons") Raised Buttons
                li
                    a.sidebar-menu__item(href="#icon-buttons") Icon Buttons
                li
                    a.sidebar-menu__item(href="#floating-buttons") Floating Buttons
                li
                    a.sidebar-menu__item(href="#speed-dial") Speed Dial
        li
            a.sidebar-menu__item(href='#box-shadows')
                span.sidebar-menu__item-inner Box-Shadows
        li
            a.sidebar-menu__item(href='#divider')
                span.sidebar-menu__item-inner Divider
        li.have-children
            a.sidebar-menu__item(href='javascript:void(0);')
                span.sidebar-menu__item-inner Cards
            ul
                li
                    a.sidebar-menu__item(href="#simple-card") Simple Card
                li
                    a.sidebar-menu__item(href="#titled-card") Titiled Card
                li
                    a.sidebar-menu__item(href="#card-with-header") Card with Header
        li.have-children
            a.sidebar-menu__item(href='javascript:void(0);')
                span.sidebar-menu__item-inner Menu Items
            ul
                li
                    a.sidebar-menu__item(href="#menu-item") Menu
                li
                    a.sidebar-menu__item(href="#menu-dropdown") Menu Dropdown
        li
            a.sidebar-menu__item(href='#tabs')
                span.sidebar-menu__item-inner Tabs
        li
            a.sidebar-menu__item(href='#toolbars')
                span.sidebar-menu__item-inner Toolbars
        li.have-children
            a.sidebar-menu__item(href='javascript:void(0);')
                span.sidebar-menu__item-inner Modals
            ul
                li
                    a.sidebar-menu__item(href="#toast") Toasts
                li
                    a.sidebar-menu__item(href="#dialog") Dialog
        li
            a.sidebar-menu__item(href='#loaders')
                span.sidebar-menu__item-inner Loaders
