.divider-examples
    h2 Divider
    .divider-wrapper
        .tk-divider

    h3.usage-title Here`s the usage:
    xmp(class="prettyprint lang-html")
        |   <button class="tk-button">Button</button>
        |   <hr class="tk-divider">
        |   <button class="tk-button">Disable</button>
