.dialog-examples
    a(name="dialog" class="anchor")
    h2 Dialog
    .wrapper
        .tk-dialog
            span.tk-dialog__title Dialog
            .tk-dialog__description
                p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
                p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
            .tk-dialog__footer
                button.tk-button.tk-button_narrow MORE INFO…
                button.tk-card__button_pulled.tk-button.tk-button_narrow DECLINE
                button.tk-button.tk-button_narrow.tk-button_colored ACCEPT

    // demo dialog modal
    button.tk-raised-button(data-onclick="dialog") show dialog
    .tk-dialog(data-modal="dialog")
        span.tk-dialog__title Dialog
        .tk-dialog__description
            p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
            p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
            p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
            p Lorem ipsum dolor sit amet, doming noster at quo, nostrud lucilius rationibus ea duo. Vim no mucius dolores. No bonorum voluptatum vis, has iudicabit consectetuer ne. Nullam sensibus vim id, et quo graeci perpetua.
        .tk-dialog__footer
            button.tk-button.tk-button_narrow MORE INFO…
            button.tk-card__button_pulled.tk-button.tk-button_narrow DECLINE
            button.tk-button.tk-button_narrow.tk-button_colored ACCEPT