
h2 Toast
p Snackbars provide brief messages about app processes
    | at the bottom of the screen.
.toast-examples
    .tk-toast
        span.tk-toast__text Your draft has been discarded.

    .tk-toast
        span.tk-toast__text Connection timed out. Showing limited messages.
        button.tk-button.tk-toast__button.lemon retry
            .rippleJS

    .tk-toast.tk-toast_rounded
        span.tk-toast__text Message sent

// demo toast modal
div Click to look 
    a(id="demo-toast") DEMO
    .tk-toast
        span.tk-toast__text Showing toast messages.
        button.tk-button.tk-toast__button.lemon retry

h3.usage-title Here`s the usage:
xmp(class="prettyprint lang-html")
    | <!-- ancestor must be positioned statically or root element -->
    | <div class="tk-toast">
    |   <span class ="tk-toast__text">Your text</span>
    |   <div class ="tk-toast__button">
    |   <!-- Your action element -->
    |     <buttom>Your button</buttom>
    |   </div>
    | </div>
