.tooltips-example
    .tk-floating-button
        i.fas.fa-bars
    .tk-floating-button.bg-rose
        i.fas.fa-arrow-left
    .tk-floating-button.bg-blue
        i.fas.fa-arrow-right
    .tk-floating-button.bg-green
        i.fas.fa-heart