.tooltips-example
  h2 Tooltips
  p When hovered, Tooltips display a text label description an element
  button.tk-floating-button.tooltips-example__button
      i.fas.fa-bars
      .tk-tooltips.tk-tooltips_top(data-tooltip="Test text")
  button.tk-floating-button.bg-rose.tooltips-example__button
      i.fas.fa-arrow-left
      .tk-tooltips.tk-tooltips_right(data-tooltip="Test text")
  button.tk-floating-button.bg-blue.tooltips-example__button
      i.fas.fa-arrow-right
      .tk-tooltips.tk-tooltips_bottom(data-tooltip="Test text")
  button.tk-floating-button.bg-green.tooltips-example__button
      i.fas.fa-heart
      .tk-tooltips.tk-tooltips_left(data-tooltip="Test text")