$default-font: RobotoRegular, sans-serif;
$bold-font: RobotoBold, sans-serif;
$primary: #344955;
$secondary: #d2dbe0;
$accent: #f9aa33;
$background: #eceff1;
$text: rgba(0,0,0,.87);


$color-1: #000;
$color-2: #328afb;
$color-3: rgba(255, 255, 255, 0.87);
$color-4: #ddd;


