@import "vars";
@import "fonts";
@import "_mixins/mixin";
@import "libs";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

p {
    margin: .5em 0;
}

::placeholder {
    color: #666;
}

::selection {
    background-color: $accent;
    color: #fff;
}
html {
    scroll-behavior: smooth;
}
body {
    font-size: 16px;
    min-width: 320px;
    position: relative;
    line-height: 1.65;
    font-family: $default-font;
    overflow-x: hidden;
    color: $text;
    
    input, textarea {
        border: #666 1px solid;
        outline: none;
        &:focus:required:invalid {
            border-color: red;
        }
        &:required:valid {
            border-color: green;
        }
    }
}

b, strong {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary;
    position: fixed;
    width: 100%;
    height: 76px;
    z-index: 10;
    box-shadow: 0 2px 4px rgba(0,0,0,.5);
    transition: linear .3s;
}

.logo {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    width: 230px;
    padding: 10px;
    margin-left: 20px;

    text-decoration: none;
    color: $secondary;
    font-size: 18px;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: 100%;

    &.img-width {
        width: 100%;
    }
}

.sidebar {
    width: 280px;
    background-color: $background;
    overflow-y: scroll;
    height: 100vh;
    position: fixed;

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $background;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $secondary;
    }

    &::-webkit-scrollbar{
        width: 6px;
        background-color: $background;
    }

    &__logo {
        height: 76px;
    }
}

.sidebar-menu {
    max-width: 100%;
    list-style: none;
    list-style-type: none;
    margin-top: 8px;

    &__item {
        position: relative;
        padding: 10px 25px;
        display: block;
        text-decoration: none;
        color: $primary;
        background-color: $background;
        transition: ease .3s;

        &:hover {
            z-index: 9;
            background-color: $secondary;
            // box-shadow: 0 0 10px rgba(0,0,0,0.5);
        }
    }
}

.sidebar-menu .have-children {
    position: relative;
}

.sidebar-menu :not(.have-children) li a {
  padding-left: 25px;
} 

.sidebar-menu li:not(.have-children) a:hover {
  padding-left: 50px;
} 

.sidebar-menu .have-children li a {
    padding-left: 50px;
}

.sidebar-menu .have-children li a:hover {
  padding-left: 75px;
}

.sidebar-menu .have-children > a::after {
  position: absolute;
  right: 30px;

  font-size: 20px;
  line-height: 20px;
  content: '›';
  color: $primary;
  transition: all .5s;
}

.sidebar-menu .have-children.active a::after {
  transform: rotate(90deg);
}

.sidebar-menu .have-children > ul {
  display: none;
}

//-----------------------------------------

.content {
    background-color: $background;
    height: auto;
    float: right;
    width: calc(100% - 280px);
    overflow-y: scroll;
    padding: {
        top: 20px;
        left: 10%;
        right: 10%;
    }

    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: $background;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: $secondary;
    }

    &::-webkit-scrollbar{
        width: 6px;
        background-color: $background;
    }
}

.box-shadow-box {
    width: 150px;
    height: 150px;
    display: inline-block;
    margin: 30px;
  
    &_1 {
        @include box-shadow(1);
    }
    
    &_2 {
        @include box-shadow(2);
    }
    
    &_3 {
        @include box-shadow(3);
    }
    
    &_4 {
        @include box-shadow(4);
    }
    
    &_5 {
        @include box-shadow(5);
    }
}

.anchor {
    padding-top: 80px;
    display: block;
}

.black {
    color: black;
}
.white {
    color: white;
}
.rose {
    color: #e91e63;
}
.lemon {
    color: #eeff41;
}
.bg-rose {
    background: #e91e63;
}
.bg-blue {
    background: #03a9f4;
}
.bg-green {
    background: #259b24;
}
.bg-violet {
    background: #673ab7;
}
// -------------------Examples-Styles------------------

.shadow-examples {
    .box-shadow-box{
        background-color: white;
    }
}

.divider-examples {
    .wrapper {
        width: 400px;
        padding: 20px;
    }

    .tk-divider {
        margin: 0;
    }
}

.card-examples {
    .tk-card {
        width: 430px;
        margin: 30px;
        background-color: white;
    }
}

.buttons-examples {
    .tk-button {
        margin-right: 36px;
    }
    .tk-raised-button {
        margin-right: 36px;
    }
}

.icon-buttons-wrap {
    display: flex;
    
    p {
        width: 91px;
        line-height: 40px;
        margin: 0;
        margin-left: 30px;
        margin-right: 20px;
        text-align: right;
    }

}

.floating-buttons-examples {
    .floating-buttons-wrap {
        margin-left: 30px;
    }

    .tk-floating-button {
        margin-right: 36px;
    }
}

.speed-dial-examples {
    .tk-speed-dial {
        width: 100px;
        display: flex;
        flex-direction: column;
        align-items: center;

        &__button {
            background: #f54a29;
            transition: .2s;
            &:active {
                background: #9c311c;
            }
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            list-style-type: none;
            margin: 0;
            padding: 0;

            li {
                margin-top: 25px;
                margin-left: 0;
            }
        }
    }
}

.toolbars-examples {
    .tk-toolbar {
        margin-bottom: 30px;
    }
}

.toast-examples {
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    margin: 20px;
      
    .tk-toast {
        outline: 1px solid blue;
        position: static;
        margin-bottom: 20px;
    }


    & + div {
        position: relative;
    }
}

.dialog-examples {
    .tk-dialog {
        position: static;
        margin: 20px;
        display: flex;
    }

    .dialog-demo {
        position: relative;

        .tk-dialog {
            position: fixed;
            display: none;
        }
    }

    .overflow {
        width: 100%;
        height: 100%;
        background-color: rgba(25, 25, 25, .8);
        position: fixed;
        top: 0;
        left: 0;
    }
}

.tooltips-example {
    &__button {
        margin: 50px;
    }
    
}

.usage-title {
    margin-top: 50px;
}

.tk-divider {
    margin: 30px 0;
}

.tabs-examples {
	.tabs-wrap {
		.tk-tabs:last-child {
			margin-top: 30px;
			.slide {
				background: #00bcd7;
			}
			.tk-tabs__item {
				.tk-tabs__button {
					background: transparent;
					color: #00bcd7;
				}
			}
		}
	}
	
}


@import "media"; // Always at the end
